<h3>Ingrese el ID del Cadete a Borrar</h3>
<form  method="post">
    <label for="ID">ID:
        <input type="text" name="ID" id="ids">
    </label>
    <button  class="btn btn-primary">Enviar</button>
</form>